#wrapper{
	font-family: Roboto;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}



.firstdiv{
	position: relative;
	background-size: cover;
	background-image: url(img/classicbackground.jpg);
	background-repeat: no-repeat;
}

.firstdiv li{
	display: inline-block;
	padding: 15px 15px;
	font-weight: bold;
	font-size: 20px;
	font-family: Roboto;
}

#arabic{
    /*padding-left: 30px;*/
}

 #topref{
    text-align: right;
    position: relative;
    top: -160px;
 }

#topref a:hover{
    text-decoration: underline;
}


 .firstdiv a{
 	text-decoration: none;
 	color: #222;
 }


 #post{
 	position: relative;
 	font-family: Roboto;
 	top: -500px;
 }

 #post h1{
 	font-size: 40px;
 	font-weight: bold;
 	padding-bottom: 30px;
 	padding-left: 40px;
 	font-family: Roboto;
 }

 #post p{
    padding-bottom: 10px;
    font-size: 25px;
    font-family: Roboto;
    padding-left: 40px;
 }

 #Postajob{
 	background-color: green;
 	height: 50px;
 	width: 250px;
 	color: #fff;
 	font-size: 20px;
 	font-weight: lighter; 
 }

 #Postajob:hover{
 	background-color: darkgreen;
 }

 #innerfirstdiv{
 	text-align: center;
 	background-color: #222;
 	position: relative;
 	height: 150px;
    top:20px;
 	opacity: 0.9;
 	color: #fff;
 }


 #innerfirstdiv p{
 	font-size: 40px;
 	color: #fff;
 	
 }


 .whyhire li{
 	color: #fff;
 }


 .seconddiv{
 	position: relative;
 	top:15px;
 	background-color: #f7f7f7;
 }

 .seconddiv h2{
 	font-family: Roboto;
 	font-size: 35px;
 	text-align: center;
 	opacity: 0.8;
 }
 .seconddivlist li{
    display: inline-block;
    padding: 10px 80px 5px 60px;
 }

#thirddiv{
	text-align: center;
	background-image: url(img/blurred-bg.jpg);
	position: relative;
	height:300px;
	top:20px;
	padding-top: 30px;

}

#thirddiv a{
	text-decoration: none;
	color: #222;
}

#thirddiv h2{
	font-size: 40px;
	text-decoration: none;
	padding-bottom: 40px;
}

#thirddiv p{
	padding-bottom: 8px;
    font-size: 20px;
    font-family: Roboto;
}

#GetStarted{
	width: 200px;
	height: 55px;
	font-size: 25px;
	font-family: Roboto;
	background-color: green;
	color: #fff;
	margin-top: 20px;
}

#GetStarted:active{
	background-color: #fff;
}

#lastdiv{
	position: relative;
	bottom:-55px;
	height: 10%;
}

#lastdiv > h1{
	font-size: 60px;
	position: relative;
	text-align: center;
	color: grey;
}

#lastdiv h1:hover{
	color: #222;
}

#lastdiv > p > span{
	padding: 0px 60px;
	margin-bottom: 40px;

}

/*{
     display: inline-block;
     padding: 100px;
     margin: 0 20px;
     border: 1px solid #grey;
}*/

#lastdiv img:active:hover{
     border: 20px
}

#footer{
background-color: #222;
height: 4em;
position: relative;
border-top:4px solid green;
color: #fff;
}

#footer > p > span{
	padding-right: 40px;
}



/*
footer {
position: relative;
margin-top: 5%;
bottom: 0;
min-width: 100%;
height: 3em;
border-top: 4px solid green;
direction: row;
background-color: rgba(0,0,0,0.7);
}*/

/*#footer > p {
	display: inline-block;
	padding-right: 60px;
	position: relative;
	color: #fff;
	font-family: Roboto;
	text-align: left;
}*/


@media screen and (max-width: 1298px) {
	

}